@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0}
a{color:#666; text-decoration:none; cursor:pointer;}
a:active{
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-moz-tap-highlight-color:rgba(0, 0, 0, 0);
	-ms-tap-highlight-color:rgba(0, 0, 0, 0);
	-o-tap-highlight-color:rgba(0, 0, 0, 0);
	tap-highlight-color:rgba(0, 0, 0, 0);
}
table:active{
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-moz-tap-highlight-color:rgba(0, 0, 0, 0);
	-ms-tap-highlight-color:rgba(0, 0, 0, 0);
	-o-tap-highlight-color:rgba(0, 0, 0, 0);
	tap-highlight-color:rgba(0, 0, 0, 0);
}

*{
	margin:0;
	padding:0;
	list-style-type:none;
}
a,img{border:0;text-decoration:none;}

.clear{ clear:both;}
/*common*/
.Nubox{
	width:100%;
	overflow:hidden;
	zoom:1;
	background:#fff;
}
@media(max-width: 999px){
    .Nutop{ width:100%; height:50px; background:#2d2b33;}
}
@media(min-width: 1000px){
    .Nutop{
        width:640px;
        height:50px;
        background:#2d2b33;
        margin: 0 auto;
    }
    body{
        width: 640px;
        margin: 0 auto;
        position: relative;
    }
    html{
        width: 640px;
        margin: 0 auto;
        position: relative;
    }
    .-mob-share-ui.-mob-share-initialized.-mob-share-ui-theme ul{
        width: 640px;
        margin: 0 auto;
    }
}
.Nutop .Nuleft{ float:left; color:#fff;  margin-top:14px; margin-left:10px}
.Nutop .Nuright{color:#fff;text-align:center;height:3.2em;line-height:2.8em; font-size:1.5em; margin-right:1em;}
.Nutop .Nuright .CONspan{float:right; display:block; color:#fff; margin-right:10px;}
input,textarea,button{
	outline: none;
	border: none;
	font-family: 'Microsoft Yahei';
	resize: none;
	outline: none;
}
textarea{
    -webkit-appearance: none
}
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}
*{
        margin: 0;
        padding:0;
        -webkit-tap-highlight-color:rgba(0,0,0,0);
        -webkit-text-size-adjust:none;
    }
    html{
        font-size:10px;
    }
    .opacity{
        -webkit-animation: opacity 0.5s linear;
        animation: opacity 0.5s linear;
    }
    @-webkit-keyframes opacity {
        0% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }
    @keyframes opacity {
        0% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }
    .footer{
        position: fixed;
        left: 0;
        bottom: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 40px;
    }
    .footer a{
        position: relative;
        display: block;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        line-height: 40px;
        text-align: center;
        color: #666;
        background-color: #eee;
        text-decoration: none;
    }
    .footer a:before{
        content: '';
        position: absolute;
        left: 0;
        top: 10px;
        width: 1px;
        height: 20px;
        background-color: #ccc;
    }
    .footer a:first-child:before{
        display: none;
    }
    .typeIcon{
        position: absolute;
        top: 0px;
        right: 15px;
        width: 27px;
        height: 27px;
    }
    .typeIcon img{
        width: 100%;
    }
.downloadApp{
    height: 50px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    display: none;
}
.downloadApp .logo{
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 5px;
}
.downloadApp .logo img{
    width: 100%;
}
.downloadApp p{
    width: 27%;
    line-height: 50px;
    color: #fff;
    background: #32c4fa;
    text-align: center;
    float: right;
    font-size: 14px;
}
.downloadApp span{
    color: #000;
    float: left;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 8px;
}
.downloadApp .close{
    float: left;
    display: block;
    width: 20px;
    line-height: 20px;
    border: 1px solid #666;
    color: #666;
    border-radius: 50%;
    text-align: center;
    margin-top: 15px;
    margin-left: 10px;
}
.clearfix:after{
  content: "020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

.clearfix {
  zoom: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  background: #fff;
  padding-top: 0;
  margin: 0;
}

